@font-face {
	font-family: Panton Black Caps;
	src: url(../font/Panton-BlackCaps.otf);

body{ 
	color:#FFF;
	font-size: 12px;
	line-height: 14px;
	font-family: Panton Black Caps, Arial, "Lucida Grande", sans-serif;
}



a:link{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}


a:visited{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}

a:hover{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}

a img{ border:none; }


.no {
	font-size: 34px;
	line-height: 40px;
	}
