body{ 
	color:#FFF;
	font-size: 12px;
	line-height: 14px;
	font-family: "HelveticaNeueW01-95Blac", "Helvetica Neue CE 95 Black", "Helvetica Neue LT 95 Black", "Helvetica Neue 95 Black", "HelveticaNeue-Black", "Helvetica Neue Black", "Helvetica Neue CE 85 Heavy", "Helvetica Neue LT 85 Heavy", "Helvetica Neue 85 Heavy", "HelveticaNeue-Heavy", "Helvetica Neue Heavy", "Helvetica Neue CE 75 Bold", "Helvetica Neue LT 75 Bold", "Helvetica Neue 75 Bold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", 'HelveticaNeueW01-85Heav', Arial, "Lucida Grande", sans-serif;
}



a:link{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}


a:visited{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}

a:hover{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}

a img{ border:none; }


.no {
	font-size: 34px;
	line-height: 40px;
	}
