@font-face{font-family:"HelveticaNeueW01-95Blac";src:url("//fast.fonts.net/dv2/2/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4");src:url("//fast.fonts.net/dv2/2/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4#iefix") format("embedded-opentype"),url("//fast.fonts.net/dv2/14/fd05322c-bf43-4f8e-a129-24869b0942db.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4") format("woff2"),url("//fast.fonts.net/dv2/3/74649485-cd74-443e-9d54-331ccd448900.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4") format("woff"),url("//fast.fonts.net/dv2/1/feb77f4f-9e6b-4f88-909a-66199fd402ed.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4") format("truetype"),url("//fast.fonts.net/dv2/11/2e490192-e531-4236-9c55-90daaad4a34e.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectid=74f39a9d-a5dc-405f-9690-1c1fd4590ae4#2e490192-e531-4236-9c55-90daaad4a34e") format("svg");}

body{ 
	color:#FFF;
	font-size: 12px;
	line-height: 14px;
	font-family: "HelveticaNeueW01-95Blac", "Helvetica Neue CE 95 Black", "Helvetica Neue LT 95 Black", "Helvetica Neue 95 Black", "HelveticaNeue-Black", "Helvetica Neue Black", "Helvetica Neue CE 85 Heavy", "Helvetica Neue LT 85 Heavy", "Helvetica Neue 85 Heavy", "HelveticaNeue-Heavy", "Helvetica Neue Heavy", "Helvetica Neue CE 75 Bold", "Helvetica Neue LT 75 Bold", "Helvetica Neue 75 Bold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", 'HelveticaNeueW01-85Heav', Arial, "Lucida Grande", sans-serif;
}



a:link{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}


a:visited{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}

a:hover{
	color:#FFF;
	text-decoration:none;
	border-bottom:none;
}

a img{ border:none; }


.no {
	font-size: 34px;
	line-height: 40px;
	}
