.spotlink {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: white;
				cursor: pointer;
				display: inline-block;
				margin: 0 10px 10px 0;
			}
.spotlink a:link,
.spotlink a:active,
.spotlink a:visited,
.spotlink a:hover {
	border: none;
	display: block;
	text-decoration: none;
}
.spotlink img {
	width: 30px;
	height: 30px;
	border: none;
}
.spotlinkdrop {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: white;
				cursor: pointer;
				display: inline-block;
				margin: 0 10px 15px 0;
			}		.smallspot {
				width: 20px;
				height: 20px;
			}
		.red {
				background-color: red;
			}
		.grey {
				background-color: #A4A9A8;
			}
		.navy {
				background-color: #21297F;
			}
		.dg {
				background-color: #606664;
			}
		.black {
				background-color: #383838;
			}
		.blk {
				background-color: #000000;
			}